.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
}

.user-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
}
